<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qhotti's Resume Site</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/favicon.ico">
</head>
<body>
    <div class="top_header">
            <img src="static/guy-modified.png" alt="me">
            <div class="top_words">
            <h1 >Qhotti</h1>
                <p><em>CEO of <a href="https://en.wikipedia.org/wiki/Fortnight"><strong>Fortnite</strong></a></em></p>
                <h4><a href="contact.html">Contact Me</a></p></h4>
            </div>

</div>
    
    <br>
    <hr size='2' color="gray">
    <h3 class="text">Books</h3>
    <p class="text2">I read lord of the rings.</p>
    <br>
    <hr size='2' color="gray">
    <h3 class="text">Work Experience</h3>
    <div class="table">
        <table class="text">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Work</th>
                </tr>
            </thead>
            <tr>
                <td>0</td>
                <td>CEO of Earth</td>
            </tr>
            <tr>
                <td>2017</td>
                <td>CEO of Fortnite</td>
            </tr>
        
        </table>
    </div>
        <br>
        <hr size='2' color="gray">
        <h3 class="text">Skills</h3>
        <div class="table">
            <table cellspacing="10" class="text">
                <tr class="text">
                    <td>Web Development</td>
                    <td>⭐⭐⭐</td>
                    <td>Fortnite</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>Python</td>
                    <td>⭐⭐⭐</td>
                    <td>Photography</td>
                    <td>⭐⭐⭐⭐</td>
                </tr>
                <tr>

                </tr>
            
            </table>
        </div>
</body>
</html>